@import 'var';
.listWrap{
    position: relative;
    width: 1104px;
    margin: 50px auto;
    text-align: left;
    font-size: 14px;
   .opertaion {
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #EAEAEA;
}
.m-filter {
    background-color: #fff;
    .hdorder {
    height: 36px;
    background-color: #fff;
}
 dd {
    float: left;
    width: 76px;
    height: 36px;
    line-height: 36px;
    margin: -1px;
    margin-left: 0;
    font-size: 13px;
    color: #333;
    border: 1px solid #eaeaea;
    cursor: pointer;
    text-align: center;
}
.active {
    position: relative;
    border: 1px solid #E31436;
    color: #E31436;
}
}
.m-priceBox:hover .btn{
    display: inline-block;
}
.m-priceBox {
    position: relative;
    float: left;
    width: 190px;
    height: 36px;
    line-height: 36px;
    margin-left: 20px;
    font-size: 14px;
    .ipt {
    width: 48px;
    line-height: 18px;
    padding-left: 5px;
    border: 1px solid #ddd;
}
.btn {
    display: none;
    line-height: 16px;
    margin-left: 8px;
    padding: 2px 8px;
    border-radius: 4px;
    color: #fff;
    background: #E31436;
    border: 0;
    cursor: pointer;
}
}
.m-addrbox {
    float: left;
    height: 36px;
    .tit {
    float: left;
    height: 36px;
    line-height: 36px;
    font-size: 12px;
}
}
.m-addrw {
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}
.addrselect {
    float: left;
    margin: 6px 0 0 10px;
}
.m-addr {
    position: relative;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    .iptw {
    position: relative;
    display: inline-block;
    height: 18px;
    line-height: 18px;
    width: auto;
    padding: 0 5px;
    vertical-align: middle;
    text-align: left;
    border: 1px solid #cccccc;
    cursor: pointer;
    font-size: 12px;
}
.iptmsg {
    width: 114px;
    white-space: nowrap;
    overflow: hidden;
}
.iptdown {
    font-family: "iconfont";
    font-size: 11px;
    color: #666666;
}
}
.m-checkbox {
    position: relative;
    float: left;
    margin-left: 15px;
    line-height: 36px;
    font-size: 13px;
    cursor: pointer;
em {
   position: absolute;
    top: 12px;
    left: 0px;
    width: 13px;
    height: 13px;
    font-size: 16px;
    text-indent: -9999px;
    border: 1px solid #ddd;
    color: transparent;
}
span{
    margin-left: 10px;
}
}
.simplePage {
    float: right;
    margin-right: 15px;
    margin-top: 12px;
    line-height: 12px;
    span{
    display: inline-block;
    float: left;
    margin-left: 20px;
}
a{
    @extend span;
}
}
.m-result {
    margin-bottom: 6px;
  
    .marketprice {
    float: right;
    color: #999;
    line-height: 24px;
}
    .goods {
    position: relative;
    float: left;
    width: 262px;
    height: 387px;
    margin: 0 7px 14px;
   
    font-size: 12px;
    
    .desc {
    width: 234px;
    padding: 0 14px 11px;
}
.comments {
    float: left;
    position: relative;
    display: inline-block;
    padding-left: 30px;
    color: #333;
    font-weight: bold;
    font-size: 12px;
       .icon {
    display: block;
    position: absolute;
    top: 3px;
    left: 2px;
    width: 12px;
    height: 14px;
    background: url(../img/icon-new.png);
    background-position: 0 -230px;
}
   
}

.proPlace {
    float: right;
    max-width: 110px;
    color: #999;
}
.price {
    height: 24px;
    color: #E31436;
     i {
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}
    .cur {
    display: inline-block;
    margin-right: 2px;
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
}
.combinedLabel {
    position: relative;
    top: -4px;
    display: inline-block;
    padding: 0 4px;
    border: 1px dotted #E31436;
    font-size: 12px;
    color: #E31436;
    font-weight: bold;
    line-height: 18px;
}

}
.title {
    height: 40px;
    margin-top: 5px;
    overflow: hidden;
    font-size: 13px;
    line-height: 20px;
    word-wrap: break-word;
    word-break: break-all;
}
a {
    display: block;
    color: #333;
}
a:hover{
    color: $hover;
    text-decoration: underline;
}
}

.goodsinfo {
    margin-top: 10px;
}
.goodswrap {
    position: absolute;
    top: -1px;
    left: -1px;
    background-color: #fff;
    border: 1px solid #f3f3f3;
    border-bottom: none;
}
.goods:hover .goodswrap {
    border: 1px solid #E31436;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
img {
    position: relative;
}
}
.selfflag {
    margin-top: 4px;
    a {
    width: 234px;
    height: 18px;
    color: #666;
    text-decoration: underline;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
.shoptaglogo {
    margin-right: 5px;
    width: 16px;
    height: 16px;
    vertical-align: sub;
}
}
}
